html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 进度条样式定制 */
#nprogress .peg {
  box-shadow: 0 0 10px var(--nprogress-peg-0), 0 0 5px var(--nprogress-peg-1) !important;
}

#nprogress .bar {
  background: linear-gradient(to right, var(--nprogress-bar-0), var(--nprogress-bar-1)) !important;
  height: 6px !important;
}

/**
 * Arco UI 样式定制
 */
.arco-layout-sider {
  padding-top: 16px;
}

.arco-layout-sider-trigger {
  background-color: var(--bg-color-secondary);
}

.arco-menu {
  background: transparent;
}

.arco-menu-item {
  color: var(--text-color-primary);
}

.arco-menu-dark .arco-menu-item .arco-icon,
.arco-menu-light .arco-menu-item .arco-icon {
  color: var(--text-color-primary);
}

.arco-menu-dark .arco-menu-item:hover .arco-icon,
.arco-menu-light .arco-menu-item:hover .arco-icon {
  color: var(--primary-color-hover);
}

.arco-menu-dark .arco-menu-item:hover,
.arco-menu-light .arco-menu-item:hover {
  background-color: var(--bg-color-secondary);
}

.arco-menu-dark .arco-menu-item:hover .arco-icon,
.arco-menu-light .arco-menu-item:hover .arco-icon {
  color: var(--text-color-primary);
}

.arco-menu-dark .arco-menu-item.arco-menu-selected,
.arco-menu-light .arco-menu-item.arco-menu-selected {
  background-color: var(--primary-color-active);
  color: white;
}

.arco-menu-dark .arco-menu-item.arco-menu-selected .arco-icon,
.arco-menu-light .arco-menu-item.arco-menu-selected .arco-icon {
  color: white;
}

.arco-menu-item.arco-menu-selected,
.arco-menu-item:hover {
  color: var(--text-color-primary);
  background: var(--primary-color-hover);
  border-radius: 8px;
}

/**
 * 侧边栏样式定制，使用时在侧边栏上层布局使用该class类即可，有代码使用示例。
 * 使其可以跟随滚动条移动（仅在侧边栏高度超出屏幕时生效），实现侧边栏的粘性定位效果。
 * 注意：此处使用了 flex 布局，确保侧边栏始终占据固定空间，不会因为内容溢出而影响滚动条的正常显示 (避免在业务代码也使用该类名进行样式定义覆盖)。
 */
 .side-container {
  position: sticky;
  top: 20px;
  height: fit-content;
  align-self: flex-start;
}