html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 进度条样式定制 */
#nprogress .peg {
  box-shadow: 0 0 10px #1e88e5, 0 0 5px #14c52b !important;
}

#nprogress .bar {
  background: linear-gradient(to right, #1e88e5, #14c52b) !important;
  height: 6px !important;
}

/**
 * Arco UI 样式定制
 */
.arco-layout-sider {
  padding-top: 16px;
}

.arco-menu {
  background: transparent;
}

.arco-menu-item {
  color: var(--text-color-primary);
}

.arco-menu-dark .arco-menu-item .arco-icon,
.arco-menu-light .arco-menu-item .arco-icon {
  color: var(--text-color-primary);
}

.arco-menu-dark .arco-menu-item:hover .arco-icon,
.arco-menu-light .arco-menu-item:hover .arco-icon {
  color: var(--primary-color);
}

.arco-menu-item.arco-menu-selected,
.arco-menu-item:hover {
  color: var(--text-color-secondary);
  background: var(--bg-color-primary);
  border-radius: 8px;
}

.arco-menu-dark .arco-menu-item.arco-menu-selected .arco-icon,
.arco-menu-light .arco-menu-item.arco-menu-selected .arco-icon {
  color: var(--primary-color);
}